[submodule "deps/StbImageSharp"]
	path = deps/StbImageSharp
	url = https://github.com/StbSharp/StbImageSharp.git
[submodule "deps/MiniJson"]
	path = deps/MiniJson
	url = https://github.com/rds1983/MiniJson.git
[submodule "deps/BMFontToSpriteFont"]
	path = deps/BMFontToSpriteFont
	url = https://github.com/rds1983/BMFontToSpriteFont.git
