[submodule "deps/BMFontToSpriteFont"]
	path = deps/BMFontToSpriteFont
	url = https://github.com/rds1983/BMFontToSpriteFont.git
[submodule "deps/EffectFarm"]
	path = deps/EffectFarm
	url = https://github.com/rds1983/EffectFarm.git
